body{
    background-color: darkslateblue;
    margin: 0;
}

#header{
    width: 100%;
    height: 64px;
    background-color: aquamarine;
}

.headerElement{
    padding: 8px;
    height: 48px;
    float: left;
}

.headerText{
    vertical-align: middle;
}